# required to grant addon-manager permissions to bind spoke addon agent's SA to the hub's fleetconfig-controller manager clusterrole
{{- if eq (include "addonMode" .) "true" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: addon-manager-fleetconfig-controller-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "chart.fullname" . }}-manager-role
subjects:
  - kind: ServiceAccount
    name: addon-manager-controller-sa
    namespace: open-cluster-management-hub
{{- end }}